 @mixin backgroundFN($bg) {
     background-image: url($bg);
     background-repeat: no-repeat;
     background-size: cover;
 }

 .banner {
     @include backgroundFN('../images/banner.png');

     .menu_single {
         position: relative;

         &::after,
         &::before {
             opacity: 0;
             transition: transform 0.3s, opacity 0.2s;
             font-size: 115% !important;
             font-family: Raleway, sans-serif;
             color: #f8dfa9;
         }

         &::before {
             margin-right: 8px;
             content: "[";
             -webkit-transform: translateX(20px);
             -moz-transform: translateX(20px);
             -ms-transform: translateX(20px);
             -o-transform: translateX(20px);
             transform: translateX(20px);
             display: inline-block;
         }

         &::after {
             margin-left: 8px;
             content: "]";
             display: inline-block;
             -ms-transform: translateX(-20px);
             -o-transform: translateX(-20px);
             -webkit-transform: translateX(-20px);
             -moz-transform: translateX(-20px);
             transform: translateX(-20px);
         }

         &:hover {
             &::before,  &::after {
                 -webkit-transform: translateX(0);
                 -moz-transform: translateX(0);
                 -ms-transform: translateX(0);
                 -o-transform: translateX(0);
                 transform: translateX(0);
                 opacity: 1;
             } 
         }
     }
 }

 .divider_col {
     height: 10px;
     width: 1px;
     background: white;
     margin: 0 25px;
 }

 .bg_intro {
     @include backgroundFN('../images/intro-bg.png');
     position: relative;
     z-index: 0;

     &::after {
         content: '';
         background: rgba(#F77E0B, 0.98);
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         z-index: -1;
     }



     .number {
         font-weight: 400;
         background: -webkit-linear-gradient(90deg, #643017 40%, #D89668, white 55%);
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
     }

     .divider_col2 {
         height: 70px;
         width: 5px;
         background: white;
     }
 }

 .bg_category {

     .divider_col3 {
         height: 55px;
         width: 5px;
         background: #F77E0B 0% 0% no-repeat padding-box;
     }
 }

 .text_custom_yellow {
     color: #FF9D00
 }

 .bg_custom_yellow {
     background: #F77E0B;
 }



 .follow_me {
     border-radius: 50%;
     border: 1px solid #AC835E;
     display: flex;
     align-items: center;
     justify-content: center;
     color: white;
     font-size: 22px;
     background: #1D1D1D;
     text-transform: uppercase;
     position: relative;
     vertical-align: middle;
     z-index: 0;

     &::before,
     &::after {
         box-sizing: inherit;
         content: '';
         position: absolute;
         width: 100%;
         height: 100%;
     }

     >div {
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background-color: #F77E0B;
         z-index: -1;
         transform: scale(0);
         transform-origin: center center;
         transition: transform 0.4s linear;
         border-radius: 50%;
     }
 }

 .button_hover {
     transition: background-color 1s;
     position: relative;
     z-index: 0;
     overflow: hidden;

     &::before {
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background-color: #F77E0B;
         z-index: -1;
         transform: scale(0);
         transform-origin: center center;
         transition: transform 0.4s linear;
         border-radius: 50%;
     }
 }

 .button_hover:hover {
     &::before {
         transform: scale(1);
         transform-origin: center center;
     }
 }

 footer {

     .input,
     .btn {
         background-color: #FE9D2B;
     }

     .ul>li {
         line-height: 30px;
     }
 }

 .image_hover {
     overflow: hidden;
     position: relative;
     z-index: 0;

     >img {
         transform: scale(1);
         transform-origin: center center;
         transition: transform 0.4s linear;
     }

     .view_detail {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background: rgba($color: #000000, $alpha: 0.4);
         z-index: -1;
         color: white;
     }

     &:hover>img {
         transform: scale(1.3);
     }

     &:hover .view_detail {
         z-index: 1;
     }
 }

 .sidebar {
     ul>li {
         padding: 10px 0;
     }
 }

 .mobile_menu {
     .menu_hidden {
         height: 0;
         transform: scaleY(0);
         transform-origin: top;
         transition: transform 0.5s linear;
     }

     .menu_show {
         height: auto;
         transform: scaleY(1);
         transform-origin: top;
         transition: transform 0.5s linear;
         margin-top: 20px;
     }

 }

 .submenu {
     .submenu_show {
         height: 0;
         transform: scaleY(0);
         transform-origin: top;
         transition: transform 0.4s linear;
     }

     &:hover .submenu_show {
         height: auto;
         transform-origin: top;
         transform: scaleY(1);
     }

 }

 .spin {
     width: 150px;
     height: 150px;
     padding: 0;
     transition:
         border-top-color 0.15s linear, // Stagger border appearances
         border-right-color 0.15s linear 0.10s,
         border-bottom-color 0.15s linear 0.20s;

     &:hover {
         //  background: #F77E0B;
         border: 0;

         >div {
             transform: scale(1);
             transform-origin: center center;
         }
     }

     &::before,
     &::after {
         top: 0;
         left: 0;
     }

     &::before {
         border: 2px solid transparent; // We're animating border-color again
     }

     &:hover::before {
         border-top-color: white; // Show borders
         border-right-color: white;
         border-bottom-color: white;

         transition:
             border-top-color 0.15s linear, // Stagger border appearances
             border-right-color 0.15s linear 0.10s,
             border-bottom-color 0.15s linear 0.20s;
     }

     &::after {
         border: 0 solid transparent; // Makes border thinner at the edges? I forgot what I was doing
     }

     &:hover::after {
         border-top: 2px solid white; // Shows border
         border-left-width: 2px; // Solid edges, invisible borders
         border-right-width: 2px; // Solid edges, invisible borders
         transform: rotate(270deg); // Rotate around circle
         transition:
             transform 0.4s linear 0s,
             border-left-width 0s linear 0.35s; // Solid edge post-rotation
     }
 }

 .circle {
     border-radius: 100%;
     box-shadow: none;

     &::before,
     &::after {
         border-radius: 100%;
     }
 }