@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: ATM-Avo;
  src: url(../assets/fonts/UTM_Avo.ttf);
}

@font-face {
  font-family: ATM-AvoBold;
  src: url(../assets/fonts/UTM_AvoBold.ttf);
}



body {
  font-family: ATM-Avo;
  color: rgb(var(--foreground-rgb));
  background-color: #272727;
  background-image: url(../assets/images/lg.svg);
  background-position: center top;
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-attachment: fixed;
  scroll-behavior: smooth;
}

body.light-mode {
  background-color: white;
  background-image: url(../assets/images/bg-light.svg);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  html {
    font-family: ATM-Avo;
  }
}

.bg-sidebar {
  background-color: #141414;
  background-image: url(../assets/images/background.png);
}

.slick-track {
  display: flex !important;
  align-items: center;
}

.slick-slide {
  height: inherit !important;
  padding: 0 10px;
}

.slick-slide div:focus-visible {
  outline: none;
}


.slick-arrow.slick-prev {
  left: 50px !important;
  z-index: 1;

}

.slick-arrow.slick-prev::before,
.slick-arrow.slick-next::before {
  content: ''; 
}

.slick-arrow.slick-next {
  right: 100px !important;
  z-index: 1;
}


.custom-text-mode {
  color: white;
}

.bg-header1 {
  background: #1D1D1D;
}

.bg-custom-mode {
  background-color: white;
}

.bg-logo-custom-mode {
  background-color: black;
}

.custom-icon-hidden {
  display: none;
} 

.light-mode {
  .custom-text-mode {
    color: black !important;
  }

  .bg-header1 {
    background: #FE9D2B;
  }

  .bg-custom-mode {
    background-color: black;
  }

  .bg-logo-custom-mode {
    background-color: white;
  }

  .custom-text-logo-mode {
    color: white;
  }

  .custom-icon-hidden {
    display: block;
  }
  .custom-icon-show {
    display: none;
  }

}