@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: ATM-Avo;
  src: url(../assets/fonts/UTM_Avo.ttf);
}

@font-face {
  font-family: ATM-AvoBold;
  src: url(../assets/fonts/UTM_AvoBold.ttf);
}



body {
  font-family: ATM-Avo;
  color: rgb(var(--foreground-rgb));
  background-color: #272727;
  background-image: url(../assets/images/lg.svg);
  background-position: center top;
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-attachment: fixed;
  scroll-behavior: smooth; 
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  html {
    font-family: ATM-Avo;
  }
}

 .bg-sidebar {
  background-color: #141414;
  background-image: url(../assets/images/background.png); 
 }

.slick-track {
  display: flex !important;
  align-items: center;
  gap: 20px;

}

.slick-slide {
  height: inherit !important;
  /* margin-right: 20px; */
}

.slick-slide div:focus-visible {
  outline: none;
}
 

.slick-arrow.slick-prev {
  left: 50px !important;
  z-index: 1;

}
.slick-arrow.slick-prev::before, .slick-arrow.slick-next::before {
  content: '';
}

.slick-arrow.slick-next {
  right: 100px !important;
  z-index: 1;
}
 
 

/* 
.swiper-button-prev {
  background-color: transparent;
  color: #000;
}
.swiper-button-prev::after {
  content: '\2190' !important;
  font-size: 24px;
  line-height: 1;
}
*/